<div class="candidate__profile">
    <div class="candidate__headerborder">
        <h1 class="candidate__header">Candidate Profile</h1>
        <p class="progress__bar">Completion Rate</p>
    </div>
    <div class="candidate__steps">Personal Information -> Professional Information -> Upload your CV -> Account Security</div>
    <div class="information__field">
        <h3 class="first__header">Personal Information</h3>
        <p class="first__subhead">Tell us about yourself.</p>
        <form class="information__form">
        <input class="information__first-name" type="text" name="info-first-name" placeholder="First Name"/>
        <input class="information__last-name" type="text" name="info-last-name" placeholder="Last Name"/>
        <input class="information__birthdate" type="date" name="info-birthdate" placeholder="Date of Birth"/>
        <input class="information__email" type="email" name="info-email" placeholder="Email"/>
        <input class="information__address" type="text" name="info-address" placeholder="Address"/>
        </form>
    </div>
    <div class="professional__field">
        <h3 class="second__header">Professional Information</h3>
        <p class="second__subhead">Share with us a brief overview of your professional experience.</p>
        <form class="professional__form">
        <select class="current__title" name="current-title">
            <option value="title1">Job 1</option>
            <option value="title2">Job 2</option>
            <option value="title3">Job 3</option>
        </select>
        <input class="current__company" type="text" name="info-company" placeholder="Current Company"/>
        <input class="start__date" type="text" name="info-start-date" placeholder="Start Date"/>
        <input class="end__date" type="text" name="info-end-date" placeholder="End Date"/>
        <textarea class="work__exp" name="info-workexp" placeholder="Add Work Experience" maxlength="10000"></textarea>
        </form>
        <div class="exp-btn__container">
            <button class="add__btn">Add Work Experience</button>
            <button class="ins__btn">Insert More Information</button>
        </div>
    </div>
    <div class="cv__field">
        <h3 class="upload__header">Upload your CV</h3>
        <p class="upload__subhead">(Note that only jpg, pdf, and doc are allowed)</p>
        <div class="cv__btn"><input class="file__cv" type="file" name="upload-cv" placeholder="Upload your latest CV"/></div>
    </div>
    <div class="security__field">
        <h3 class="security__header">Account Security</h3>
        <input class="acc__email" type="email" name="acc-mail" placeholder="123example@email.com">
        <input class="acc__number" type="text" name="acc-number" placeholder="Add Phone Number"/>
    </div>
    <div class="finish__field">
        <input class="check__terms" type="checkbox" name="tnc-check"/>
        <label class="check-terms__label" for="check__terms">I have read and agree to the website <a href="/terms-and-conditions" target="_blank" class="tnc__link">terms and conditions</a></label>
        <br>
        <input class="check__privacy" type="checkbox" name="privacy-check"/>
        <label class="check-terms__label" for="check__privacy">I have read and agree to the website <a href="www.google.com" target="_blank" class="privacy__link"> privacy policy</a></label>
    </div>
    <div class="finish-btn__container"><button class="finish__btn">Finish Setting Up Your Profile</button></div>
</div>