<div class="company__profile">
    <div class="company__headerborder">
        <h1 class="company__header">Company Profile</h1>
    </div>
    <div class="companyinfo__field">
        <h2 class="top__header">Let the matching begin...</h2>
        <p class="top__subhead">This is where you fill us in on the big picture.</p>
        <br>
        <a href="https://www.linkedin.com/company/globalprofessionalconnect" target="_blank"><img class="company__logo"></a>
        <form class="company__form">
            <input class="company__user-first-name" type="text" name="company-user-first-name" placeholder="First Name"/>
            <input class="company__user-last-name" type="text" name="company-user-last-name" placeholder="Last Name"/>
            <input class="company__name" type="text" name="company-title" placeholder="Company Name"/>
            <select class="industry__title" name="industry-type">
                <option value="industry1">Industry 1</option>
                <option value="industry2">Industry 2</option>
                <option value="industry">Industry 3</option>
            </select>
            <input class="company__address" type="text" name="company-address" placeholder="Company Address"/>
            <input class="company__phone" type="text" name="company-number" placeholder="Company Phone Number"/>
            <input class="company__website" type="text" name="company-site" placeholder="Company Website"/>
        </form>
    </div>
    <div class="company__finish-field">
        <input class="check__terms" type="checkbox" name="tnc-check"/>
        <label class="check-terms__label" for="check__terms">I have read and agree to the website <a href="/terms-and-conditions" target="_blank" class="tnc__link">terms and conditions</a></label>
        <br>
        <input class="check__privacy" type="checkbox" name="privacy-check"/>
        <label class="check-terms__label" for="check__privacy">I have read and agree to the website <a href="www.google.com" target="_blank" class="privacy__link"> privacy policy</a></label>
    </div>
    <div class="finish-btn__container"><button class="finish__btn">Finish Setting Up Your Profile</button></div>
</div>