<div class="billings section">
    <div class="billing__headerborder">
        <h1 class="billing__header">Billings and Payments</h1>
    </div>
    <div class="tabs__border">
        <div class="tabs">
        <span>Payment Methods</span>
        <span>Available Balances</span>
        <span>Billing History</span>
        </div>
    </div>
    <div class="payment__field">
        <h2 class="field__header">Payment Methods</h2>
        <p>Easily manage your payment methods through our secure system.</p>
        <select class="methods"  name="payment-methods">
            <option value="" disabled selected hidden>Add a payment method</option>
                    <option value="title1">Option 1</option>
                    <option value="title2">Option 2</option>
                    <option value="title3">Option 3</option>
        </select>
    </div>
    <div class="balances">
        <table class="balances__table">
            <tr>
                <th>Date Range</th>
                <th>Invoice Number</th>
                <th>Status</th>
                <th>Amount</th>
            </tr>
            <tr>
                <td>mm/dd/yy</td>
                <td>12345</td>
                <td>Pending</td>
                <td>P 000,000.00</td>
            </tr>
            <tr>
                <td>mm/dd/yy</td>
                <td>12345</td>
                <td>Pending</td>
                <td>P 000,000.00</td>
            </tr>
            <tr>
                <td>mm/dd/yy</td>
                <td>12345</td>
                <td>Pending</td>
                <td>P 000,000.00</td>
            </tr>
        </table>
    </div>
    <div class="billing__history">
        <div class="category__tabs">
            <select class="date__range"  name="date-range">
                <option value="" disabled selected hidden>Date Range</option>
                        <option value="title1">Option 1</option>
                        <option value="title2">Option 2</option>
                        <option value="title3">Option 3</option>
            </select>
            <select class="document__tab"  name="documents">
                <option value="" disabled selected hidden>Date Range</option>
                        <option value="title1">Option 1</option>
                        <option value="title2">Option 2</option>
                        <option value="title3">Option 3</option>
            </select>
            <select class="currency__tab"  name="currency">
                <option value="" disabled selected hidden>Date Range</option>
                        <option value="title1">Option 1</option>
                        <option value="title2">Option 2</option>
                        <option value="title3">Option 3</option>
            </select>
            <div class="invoice__search"><input type="text" name="search-invoice" placeholder="Search by invoice"></div>
        </div>
        <div class="history">
            <table class="history__table">
                <tr>
                    <th>Date Range</th>
                    <th>Invoice Number</th>
                    <th>Status</th>
                    <th>Amount</th>
                </tr>
                <tr>
                    <td>mm/dd/yy</td>
                    <td>12345</td>
                    <td>Pending</td>
                    <td>P 000,000.00</td>
                </tr>
                <tr>
                    <td>mm/dd/yy</td>
                    <td>12345</td>
                    <td>Pending</td>
                    <td>P 000,000.00</td>
                </tr>
                <tr>
                    <td>mm/dd/yy</td>
                    <td>12345</td>
                    <td>Pending</td>
                    <td>P 000,000.00</td>
                </tr>
            </table>
        </div>
    </div>
</div>