<div id="contact-us-section" class="contact-us section">
    <div class="contact-us__title">Contact Us</div>
    <div class="contact-us__header">We're Here To Help</div>
    <div class="contact-us__header-border"></div>
    <div class="contact-us__contents">
        <p class="contact-us__description">Thank you for your interest in GPC. If you have any questions about our services, or would like to learn more about how we cam help your business, please get in touch with us by filling out the form below.</p>
        <div class="contact-us__form">
            <input class="contact-us__name contact-us__field" name="c-name" id="c-name" type="text" placeholder="Name"/>
            <input class="contact-us__email contact-us__field" name="c-email" id="c-email" type="email" placeholder="Email"/>
            <input class="contact-us__phone contact-us__field" name="c-phone" id="c-phone" type="number" placeholder="Phone"/>
            <textarea class="contact-us__message" name="c-message" id="c-message" placeholder="Your Message"></textarea>
            <div class="contact-us__footer">
                <div class="g-recaptcha" data-sitekey="<%= reCaptchaKey %>"></div>
                <input class="contact-us__button" type="submit" value="Send">
            </div>
        </div>
    </div>
</div>