<div id="how-section" class="how-gpc-works section"> 
    <h1 class="how__header"> How GPC Works</h1>
    <div class="steps__container">
        <img src="dist\img\2nd section_icon 1.png" class="steps__icon engage services">
        <h3 class="steps__title">Engage our services</h3>
        <br>
        <p class="icon__par">Straight forward and easy to execute Term <br> Sheet and Terms and Conditions.</p>
        <br>
        <img src="dist\img\2nd section_icon 2.png" class="steps__icon engage services">
        <h3 class="steps__title">Submit a job request</h3>
        <br>
        <p class="icon__par">Straight forward and easy to execute Term <br> Sheet and Terms and Conditions.</p>
        <br>
        <img src="dist\img\2nd section_icon 3.png" class="steps__icon engage services">
        <h3 class="steps__title">Interview coordination</h3>
        <br>
        <p class="icon__par">Straight forward and easy to execute Term <br> Sheet and Terms and Conditions.</p>
    </div>

</div>