<div id="how-section" class="how-gpc-works section"> 
    <h1 class="how__header"> How GPC Works</h1>
    <div class="steps">
        <img src="dist\img\2nd section_icon 1.png" class="steps__icon engage services">
        <h3 class="steps__title">Engage our services</h3>
        
    </div>

</div>