<div id="job-categories-section" class="job-categories section">
    <h1 class="job-categories__header">Browse Job Categories</h1>
    <div class="job-categories__list">
    </div>
    <button class="job-categories__button">See More Skills</button>
</div>