<div id="price-tc-section" class="price-tc section">
    <h1 class="price-tc__header">Pricing and Terms<br>and Conditions</h1>
        <div class="sched__border">
            <h3 class="pricing__schedule">Pricing Schedule</h3>
            <a href="www.google.com" class="tnc__link">Terms and Conditions</a>
        </div>

        <div class="box__schedule">
            
        </div>
</div>