<div id="price-tc-section" class="price-tc section">
    <h1 class="price-tc__header">Pricing and Terms<br>and Conditions</h1>
        <div class="sched__border">
            <h3 class="pricing__schedule">Pricing Schedule</h3>
            <a href="https://www.google.com" target="_blank" class="tnc__link">Terms and Conditions</a>
        </div>

        <div class="price__body">
            <div class="price__container">
                <p class="price__title">Interview Coordination Fee - Controller Position</p>
                <p class="price__description">$75 Per Interview with a Minimum of 5 Interviews</p>
            </div>

            <div class="price__container">
                <p class="price__title">Interview Coordination Fee - Other Positions</p>
                <p class="price__description">$50 Per Interview with a Minimum of 5 Interviews</p>
            </div>     

            <div class="price__container">
                <p class="price__title">Initial Setup Fee</p>
                <p class="price__description">$350 Per Professional</p>
            </div>

            <div class="price__container">
                <p class="price__title">Total Cost of Employment</p>
                <p class="price__description">Actual Costs Incurred Plus a 25% Mark-Up</p>
            </div>     

            <div class="price__container">
                <p class="price__title">Monthly Services Fee Per Professional</p>
                <p class="price__description">$250 Per Professional</p>
            </div>  

            <div class="price__container">
                <p class="price__title">On Demand Human Resource Assistance</p>
                <p class="price__description">$35 Per Hour</p>
            </div>  
        </div>
</div>