<div class="term-sheet section">
    <div class="term__headerborder"><h1 class="term__header">Term Sheet</h1></div>
    <div class="sheet__container">
        <div class="name__header"><h1>Sales Proposal for <input type="text" class="name__field" placeholder="Company Name"></h1></div>
        <div class="sheet__body">
            <div><h2>Cost Summary</h2></div>
            <div><p>The pricing in this sales proposal if valid until <input type="text" class="date__field" placeholder="Date"></p></div>
            <br>
            <div><p>Changes to requested products or approval beyond this sales proposal's expiration date may lead to pricing changes.</p></div>
        </div>
        <table class="price__table">
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>QTY</th>
                <th>Subtotal</th>
            </tr>
            <tr>
                <td></td>
                <td>$0.00</td>
                <td>0</td>
                <td>$0.00</td>
            </tr>
        </table>
        <div class="sub"><p>Subtotal &nbsp; <input type="text" class="sub__field" placeholder="$0.00" style="text-align: right;"></p></div>
        <div class="total"><p>Total &nbsp; <input type="text" class="total__field" placeholder="$0.00" style="text-align: right;"></p></div>
        <div class="accept__field">
            <h2>Acceptance</h2>
            <div class="sign__field"><input type="text" class="signature" placeholder="Click to Sign"></div>
            <div class="sign__date"><input type="text" class="current__date" placeholder="Date"></div>
        </div>
    </div>
    <div class="step__container">
        <div class="progress__container">
            <p class="progress__header">You have <span class="progress__value">4</span> item(s) to fill in</p>
            <div class="progress__bar"></div>
        </div>
        <div class="progress-btn__container"><button class="progress__btn">Next</button></div>
    </div>
</div>