body {
  overflow-x: hidden;
  background: #DDDDDD;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  background: #444444;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #222222;
}

.section {
  display: block;
  position: relative;
  width: 100vw;
  max-width: 100%;
  min-height: 100vh;
  min-height: 100svh;
  padding: 0 2.1875rem;
  box-sizing: border-box;
}

/** Hero Section - Start **/
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url('/public/img/home/hero-section/hero-section__background.png');
  background-size: cover;
  background-repeat: no-repeat;
  animation: animate__hero-background 5s linear;
  animation-fill-mode: forwards;
}

.hero .swiper {
  width: 100vw;
  height: 100vh;
  margin-left: -2.1875rem;
}

.hero .swiper:hover {
  cursor: grab;
}

.hero .swiper:active {
  cursor: grabbing;
}

.hero .swiper .swiper-wrapper {
  padding-left: 2.1875rem;
}

.hero .swiper .swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero .swiper .swiper-pagination {
  /* opacity: 0; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3.125rem;
}

.hero .swiper .swiper-pagination-bullet {
  opacity: 1;
  width: 12px;
  height: 12px;
  margin: 0 0.5rem;
  background-color: white;
  transition: all 0.1s ease;
}

.hero .swiper .swiper-pagination-bullet-active {
  margin: 0 0.375rem;
  border: 3px solid white;
  background: #1A87BE;
  transition: all 0.1s ease;
}

.hero__title {
  /* opacity: 0; */
  display: block;
  max-width: 322px;
  font-family: MonserattBold, sans-serif;
  font-size: 1.6875rem;
  line-height: 2.0625rem;
  text-transform: uppercase;
  color: #FFFFFF;
}

.hero__description {
  /* opacity: 0; */
  display: block;
  max-width: 290px;
  margin-top: 1.75rem;
  font-family: NotoSans, sans-serif;
  font-size: 1.25rem;
  line-height: 1.375rem;
  color: #D1FFFF;
}

.hero__btn {
  /* opacity: 0; */
  display: block;
  width: max-content;
  margin-top: 1.75rem;
  padding: 0.5rem;
  border: 2px solid #FFFFFF;
  border-radius: 15px 0;
  outline: inherit;
  font-family: NotoSansBold, sans-serif;
  font-size: 0.75rem;
  color: #3DBAF7;
  background: #FFFFFF;
  transition: all 0.15s ease;
}

.hero__btn:hover {
  cursor: pointer;
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
  transform: scale(1.05) !important;
  background: transparent;
}

@keyframes animate__hero-background {
  0% {
    background-position: bottom right;
  }

  100% {
    background-position: center;
  }
}

/** Hero Section - End **/

/** How GPC Works Section - Start **/

.how-gpc-works {
  background-color: white;
  padding-top: 10rem;
  padding-bottom: 2.5rem;
}

.how__header {
  /* opacity: 0; */
  width: 100%;
  font-family: MonserattBold, sans-serif;
  font-size: 1.75rem;
  text-align: center;
  text-transform: uppercase;
  color: #273E90;
  padding-bottom: 2.3125rem;
}

.steps__container {
  display: flex;
  flex-flow: row wrap;
  row-gap: 2.0625rem;
  justify-content: center;
  align-items: center;
}

.step__images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  /* transform: translateX(110px); */
}

/* .step__body:nth-of-type(3) .step__images {
  transform: translateX(25px);
}

.step__body:nth-of-type(4) .step__images {
  transform: translateX(55px);
}

.step__body:nth-of-type(4) img:nth-of-type(1) {
  transform: translateX(-25px);
} */

.steps__icon {
  display: inline-block;
  max-width: 190px;
  max-height: 180px;
}

.steps__arrow {
  display: none;
}

.step__body {
  /* opacity: 0; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15.3125rem;
}

.steps__title {
  display: block;
  font-family: NotoSansBold, sans-serif;
  font-size: 1.125rem;
  white-space: normal;
  text-transform: uppercase;
  text-align: center;
  color: #36B3E5;
  padding-top: 18px;
  padding-bottom: 5px;
}

.icon__par {
  font-family: NotoSans, sans-serif;
  font-size: 1rem;
  text-align: center;
  width: 100%;
  max-width: 15.3125rem;
}

/** How GPC Works Section - End **/

/** Why Choose GPC Section - Start **/

.why-gpc {
  display: block;
  background: url('/public/img/home/3rd-Section/3rd-section_bg.png');
  background-size: 1900px;
  background-repeat: no-repeat;
  background-position: top right;
}

.why__header {
  /* opacity: 0; */
  width: 100%;
  font-family: MonserattBold, sans-serif;
  font-size: 1.75rem;
  line-height: 2.125rem;
  text-align: center;
  text-transform: uppercase;
  color: white;
  padding-bottom: 55px;
  padding-top: 160px;
}

.why__body {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  column-gap: 85px;
  row-gap: 70px;
}

.why-gpc .swiper-wrapper {
  height: 65vh !important;
}

.why-gpc .swiper .swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.why-gpc .swiper .swiper-pagination-bullet {
  opacity: 1;
  width: 12px;
  height: 12px;
  margin: 0 0.5rem;
  background-color: white;
  transition: all 0.1s ease;
}

.why-gpc .swiper .swiper-pagination-bullet-active {
  margin: 0 0.375rem;
  border: 3px solid white;
  background: #1A87BE;
  transition: all 0.1s ease;
}

.why__icons {
  display: inline-block;
  max-width: 230px;
  max-height: 230px;
}

.why__item {
  /* opacity: 0; */
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  min-height: 330px;
}

.why__title {
  display: block;
  font-family: NotoSansBold, sans-serif;
  font-size: 1.125rem;
  line-height: 1.25rem;
  white-space: normal;
  text-transform: uppercase;
  text-align: center;
  color: white;
  padding-top: 20px;
  padding-bottom: 15px;
}

.why__par {
  font-family: NotoSans, sans-serif;
  font-size: 1.125rem;
  line-height: 1.25rem;
  text-align: center;
  color: white;
  width: 100%;
  max-width: 330px;
}

.why__body--pc {
  display: none;
}

/** Why Choose GPC Section - End **/

/** Job Categories Section - Start **/

.job-categories {
  background: #FFFFFF;
  padding: 10.125rem 1.125rem 3.125rem;
}

.job-categories__header {
  /* opacity: 0; */
  width: 100%;
  font-family: MonserattBold, sans-serif;
  font-size: 1.75rem;
  line-height: 1.875rem;
  text-align: center;
  text-transform: uppercase;
  color: #273E90;
}

.job-categories__list {
  display: flex;
  flex-flow: row wrap;
  gap: 0.4375rem;
  justify-content: center;
  padding: 4.125rem 0 5.0625rem;
}

.job-categories__list a {
  display: flex;
  flex-direction: column;
  flex: 0 0 100%;
  text-decoration: none;
}

.job-item {
  /* opacity: 0; */
  z-index: 1;
  display: flex;
  flex: 0 0 33.3333%;
  gap: 0.625rem;
  box-sizing: border-box;
  max-height: 94px;
  padding: 0.625rem 1rem;
  border-radius: 10px;
  background: #FFFFFF;
  box-shadow: 0 3px 6px #00000029;
  transition: all 0.4s ease;
}

.job-item__icon {
  pointer-events: none;
  height: 100%;
  max-width: 73px;
  max-height: 74px;
  transition: all 0.3s ease;
}

.job-item__title {
  pointer-events: none;
  align-self: center;
  max-width: 203px;
  font-family: NotoSansBold, sans-serif;
  font-size: 1.125rem;
  line-height: 1.5rem;
  white-space: normal;
  text-transform: uppercase;
  text-align: left;
  color: #36B3E5;
  transition: all 0.3s ease;
}

.job-item__expand-icon {
  pointer-events: none;
  content: url('/public/img/home/job-categories/job-categories__plus.svg');
  align-self: center;
  width: 100%;
  height: 100%;
  max-width: 24px;
  max-height: 24px;
  margin-left: auto;
  filter: invert(16%) sepia(25%) saturate(6719%) hue-rotate(220deg) brightness(98%) contrast(87%);
  transition: all 200ms ease;
}

.job-item.active .job-item__expand-icon {
  content: url('/public/img/home/job-categories/job-categories__minus.svg');
}

.job-item.active + .job-item__description-container {
  padding: 2.5rem 1.5rem 2.25rem;
  height: 204px;
}

.job-item__description-container {
  pointer-events: none;
  z-index: 0;
  opacity: 1;
  width: 100%;
  box-sizing: border-box;
  margin: auto;
  height: 0;
  padding: 0 1rem;
  border-radius: 0 0 20px 20px;
  color: #FFFFFF;
  background: #36B3E5;
  box-shadow: 0 3px 6px #00000029;
  transform: translateY(-8px);
  transition: all 0.3s ease;
}

.job-item__description {
  pointer-events: none;
  overflow: hidden;
  display: -webkit-box;
  margin: 0 0 2.25rem;
  -webkit-line-clamp: 4;
  text-overflow: clip;
  -webkit-box-orient: vertical;
  font-family: NotoSans, sans-serif;
  font-size: 0.875rem;
  white-space: normal;
  word-wrap: break-word;
  text-align: left;
  color: #FFFFFF;
  line-height: 18px;
  transition: all 0.3s ease;
}

.job-item__link {
  display: block;
  width: 100%;
  font-family: NotoSansBold, sans-serif;
  font-size: 0.875rem;
  text-align: right;
  text-decoration: underline;
  color: #FFFFFF;
  line-height: 18px;
}

.job-item__description--pc {
  display: none;
}

.job-categories__button {
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 0.375rem 1rem;
  border: 2px solid #30B2E6;
  border-radius: 1rem 0;
  font-family: NotoSansBold, sans-serif;
  font-size: 0.875rem;
  line-height: 1.1875rem;
  color: #606060;
  background: transparent;
  transition: all 0.2s ease;
}

/** Job Categories Section - End **/

/** Pricing and Terms and Conditions - Start **/

.price-tc {
  background-color: rgb(39, 61, 144);
  padding-top: 10rem;
  padding-bottom: 2.5rem;
}

.price-tc__header {
  margin: auto;
  font-family: MonserattBold, sans-serif;
  font-size: 1.75rem;
  text-align: center;
  text-transform: uppercase;
  color: white;
  max-width: 20rem;
  padding-bottom: 3.4375rem;
}

.sched__border {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 2px solid white;
}

.pricing__schedule {
  display: block;
  font-family: MonserattBold, sans-serif;
  font-size: 1rem;
  text-align: justify;
  white-space: nowrap;
  color: rgb(39, 61, 144);
  max-width: 10.625rem;
  padding: 0.75rem 1.125rem 0.5rem 0.4375rem;
  border-radius: 0 13.75rem 0 0;
  border: 2px solid white;
  background-color: white;
}

.tnc__link {
  font-family: NotoSansRegular, sans-serif;
  font-size: 0.75rem;
  color: white;
  margin-left: auto;
}

.price__body {
  display: flex;
  flex-flow: row wrap;
  padding-top: 1.25rem;
  column-gap: 25px;
  row-gap: 0.625rem;
}

.price__container {
  display: inline-block;
  border: 1px solid white;
  color: white;
  width: 100%;
}

.price__title {
  display: flex;
  align-items: center;
  font-family: RalewayBold, sans-serif;
  font-size: 1.125rem;
  padding: 0 1.5625rem;
  min-height: 5.25rem;
  border-bottom: 1px solid;
  background-color: rgb(54, 180, 229);
}

.price__description {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  font-family: Raleway, sans-serif;
  font-size: 1.125rem;
  padding-left: 1.5625rem;
  padding-right: 1.5625rem;
  min-height: 5.25rem;
}

/** Pricing and Terms and Conditions - End **/

/** Contact Us - Start **/

.contact-us__title {
  display: block;
  max-width: 100%;
  padding: 9.375rem 0 6rem;
  font-family: MonserattBold, sans-serif;
  font-size: 1.75rem;
  text-align: center;
  text-transform: uppercase;
  color: rgb(39, 61, 144);
}

.contact-us__header {
  display: block;
  max-width: max-content;
  padding: 0.75rem 1.125rem 0.5rem 0.4375rem;
  border-radius: 0 13.75rem 0 0;
  font-family: MonserattBold, sans-serif;
  font-size: 1rem;
  text-align: justify;
  white-space: nowrap;
  color: rgb(39, 61, 144);
  background-color: rgb(54, 180, 229);
}

.contact-us__header-border {
  display: block;
  width: 100%;
  margin-bottom: 2.5rem;
  border-bottom: 3px solid rgb(54, 180, 229);
}

.contact-us__description {
  display: block;
  width: 95%;
  margin-bottom: 2.5rem;
  font-family: Monseratt, sans-serif;
  font-size: 0.875rem;
  line-height: 1rem;
  color: #636363;
}

.contact-us__form {
  display: block;
  position: relative;
  width: 100%;
}

.contact-us__field,
.contact-us__message {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 0.5rem;
  border: none;
  outline: none;
  font-family: Monseratt, sans-serif;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.contact-us__message {
  resize: none;
  height: 12.75rem;
  line-height: 1.5rem;
}

.contact-us__footer .g-recaptcha {
  display: block;
  position: relative;
  height: 4.25rem;
  width: max-content;
  margin: auto;
}

.contact-us__footer .g-recaptcha > div {
  width: 243px !important;
}

.contact-us__footer .g-recaptcha iframe {
  width: 100%;
}

.contact-us__button {
  display: block;
  position: relative;
  margin: 2rem auto 3rem;
  padding: 0.375rem 1rem;
  border: 2px solid #1A86BE;
  border-radius: 1rem 0;
  font-family: NotoSansBold, sans-serif;
  font-size: 0.875rem;
  line-height: 1.1875rem;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #1A86BE;
  transition: all 0.2s ease;
}

/** Contact Us - End **/

/** Tablets and above */
@media only screen and (min-width: 768px) {
  .hero__title {
    max-width: 40.625rem;
    font-size: 2.6875rem;
    line-height: 3.0625rem;
  }

  .hero__description {
    max-width: 40.625rem;
    font-size: 2rem;
    line-height: 2.375rem;
  }

  .hero__btn {
    padding: 1rem 2rem;
    border-radius: 30px 0;
    font-size: 1.5rem;
  }

  .why-gpc {
    background-size: 2300px;
  }

  .why__icons {
    max-width: 350px;
    max-height: 350px;
  }

  .why__title {
    font-size: 1.5rem;
    line-height: 1.75rem;
    padding-top: 20px;
    padding-bottom: 15px;
  }

  .why__par {
    font-size: 1.5rem;
    line-height: 1.75rem;
    max-width: 500px;
  }
}

/** PC - Small Screens */
@media only screen and (min-width: 1024px) {

}

/** PC */
@media only screen and (min-width: 1599px) {
  .section {
    padding: 0 200px;
  }

  /** Hero Section - Start **/
  .hero .swiper {
    margin-left: -200px;
  }

  .hero .swiper .swiper-wrapper {
    padding-left: 200px;
  }

  .hero .swiper .swiper-pagination {
    padding-bottom: 1.5625rem;
  }

  .hero .swiper .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    margin: 4px 21px;
  }

  .hero .swiper .swiper-pagination-bullet:hover:not(.swiper-pagination-bullet-active) {
    opacity: 0.8;
    transform: scale(0.9);
  }

  .hero .swiper .swiper-pagination-bullet-active {
    margin: 0 17px;
    border: 4px solid white;
  }

  .hero__title {
    max-width: 1050px;
    font-size: 5rem;
    line-height: unset;
  }

  .hero__description {
    max-width: 860px;
    font-size: 1.875rem;
    line-height: 2.5rem;
  }

  .hero__btn {
    margin-top: 20px;
    padding: 15px 20px;
    border-radius: 35px 0;
    font-size: 1.25rem;
  }

  /** Hero Section - End **/

  /** How GPC Works Section - Start **/

  .how-gpc-works {
    background-color: white;
    padding-top: 90px;
    padding-bottom: 95px;
  }

  .how__header {
    /* opacity: 0; */
    width: 100%;
    font-family: MonserattBold, sans-serif;
    font-size: 4.375rem;
    text-align: center;
    text-transform: uppercase;
    color: #273E90;
    padding-bottom: 90px;
  }

  .steps__container {
    display: flex;
    flex-flow: row wrap;
    row-gap: 80px;
    justify-content: center;
    align-items: center;
  }

  .step__images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transform: translateX(110px);
  }

  .step__body:nth-of-type(3) .step__images {
    transform: translateX(25px);
  }

  .step__body:nth-of-type(4) .step__images {
    transform: translateX(55px);
  }

  .step__body:nth-of-type(4) img:nth-of-type(1) {
    transform: translateX(-25px);
  }

  .steps__icon {
    display: inline-block;
    max-width: 200px;
    max-height: 200px;
  }

  .steps__arrow {
    display: inline-block;
  }

  .step__body {
    /* opacity: 0; */
    width: 450px;
  }

  .steps__title {
    display: block;
    font-family: NotoSansBold, sans-serif;
    font-size: 1.3125rem;
    white-space: normal;
    text-transform: uppercase;
    text-align: center;
    color: #36B3E5;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .icon__par {
    font-family: NotoSans, sans-serif;
    font-size: 0.875rem;
    text-align: center;
    width: 100%;
    max-width: 330px;
  }

  /** How GPC Works Section - End **/

  /** Why Choose GPC Section - Start **/

  .why-gpc {
    display: block;
    background: url('/public/img/home/3rd-Section/3rd-section_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0 160px 90px;
  }

  .why__header {
    /* opacity: 0; */
    width: 100%;
    font-family: MonserattBold, sans-serif;
    font-size: 4.375rem;
    text-align: center;
    text-transform: uppercase;
    color: white;
    padding-bottom: 90px;
    padding-top: 90px;
  }

  .why__body {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    column-gap: 85px;
    row-gap: 70px;
  }

  .why__icons {
    display: inline-block;
    max-width: 150px;
    max-height: 150px;
  }

  .why__item {
    /* opacity: 0; */
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 340px;
    min-height: 330px;
  }

  .why__title {
    display: block;
    font-family: NotoSansBold, sans-serif;
    font-size: 1.125rem;
    white-space: normal;
    text-transform: uppercase;
    text-align: center;
    color: white;
    padding-top: 35px;
    padding-bottom: 30px;
  }

  .why__par {
    font-family: NotoSans, sans-serif;
    font-size: 1rem;
    text-align: center;
    color: white;
    width: 100%;
    max-width: 330px;
  }

  .why__body--mobile {
    display: none;
  }

  /** Why Choose GPC Section - End **/

  /** Job Categories Section - Start **/

  .job-categories {
    padding-top: 90px;
    padding-bottom: 95px;
  }

  .job-categories__header {
    /* opacity: 0; */
    font-size: 4.375rem;
    line-height: unset;
    text-align: center;
  }

  .job-categories__list {
    gap: 20px;
    padding: 62px 0 0;
  }

  .job-categories__list a {
    flex: 0 0 32%;
  }

  .job-item {
    /* opacity: 0; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 0 0 32%;
    max-height: 480px;
    row-gap: 30px;
    padding-top: 110px;
    padding-bottom: 135px;
    border: 2px solid #273E90;
    border-radius: 3px;
  }

  .job-item:hover {
    cursor: pointer;
    background: #36B4E5;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.15);
    transform: scale(1.03) !important;
  }

  .job-item:hover .job-item__title {
    font-size: 1.5rem;
    white-space: nowrap;
    color: #FFFFFF;
  }

  .job-item__icon {
    max-width: 150px;
    max-height: 150px;
  }

  .job-item__icon.controller {
    transform: translateX(22px);
  }

  .job-item:hover .job-item__icon {
    height: 0;
  }

  .job-item:hover .job-item__icon.controller {
    height: 0;
    transform: translateX(11px);
  }

  .job-item__title {
    max-width: 310px;
    font-size: 1.3125rem;
    text-align: center;
  }

  .job-item__expand-icon {
    display: none;
  }

  .job-item__description {
    display: block;
    opacity: 0;
    max-width: 300px;
    height: 0;
    margin: 0;
    text-align: center;
    overflow: unset;
    -webkit-line-clamp: unset;
    -webkit-box-orient: unset;
  }

  .job-item:hover .job-item__description {
    display: block;
    opacity: 1;
    height: 100%;
  }

  .job-categories__button {
    /* opacity: 0; */
    display: none;
  }

  .job-categories__button:hover {
    cursor: pointer;
    color: #FFFFFF;
    transform: scale(1.05) !important;
    background: #30B2E6;
  }

  /** Job Categories Section - End **/

  /** Pricing and Terms and Conditions - Start **/

  .price-tc {
    background-color: rgb(39, 61, 144);
    padding-top: 90px;
    padding-bottom: 85px;
  }

  .price-tc__header {
    margin: unset;
    font-family: MonserattBold, sans-serif;
    font-size: 4.375rem;
    text-align: left;
    text-transform: uppercase;
    color: white;
    max-width: 900px;
    padding-bottom: 60px;
  }

  .sched__border {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 2px solid white;
  }

  .pricing__schedule {
    display: block;
    font-family: MonserattBold, sans-serif;
    font-size: 2.1875rem;
    color: rgb(39, 61, 144);
    width: max-content;
    padding: 25px 210px 25px 30px;
    border-radius: 0 100px 0 0;
    border: 2px solid white;
    background-color: white;
  }

  .tnc__link {
    font-family: NotoSansRegular, sans-serif;
    font-size: 1.25rem;
    color: white;
    margin-left: auto;
  }

  .price__body {
    display: flex;
    flex-flow: row wrap;
    padding-top: 45px;
    column-gap: 25px;
    row-gap: 30px;
  }

  .price__container {
    display: inline-block;
    border: 1px solid white;
    color: white;
    max-width: 475px;
    padding-bottom: 30px;
  }

  .price__title {
    font-family: RalewayBold, sans-serif;
    font-size: 1.875rem;
    padding: 0 35px;
    min-width: 405px;
    min-height: 150px;
    border-bottom: 1px solid;
    background-color: rgb(54, 180, 229);
    display: flex;
    align-items: center;
  }

  .price__description {
    font-family: Raleway, sans-serif;
    font-size: 1.5625rem;
    padding: 20px 35px 45px;
    min-width: 405px;
    min-height: 125px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
  }

  /** Pricing and Terms and Conditions - End **/

  /** Contact Us - Start **/

  .contact-us__title {
    padding: 90px 0 60px;
    font-size: 4.375rem;
    text-align: left;
  }

  .contact-us__header {
    max-width: max-content;
    padding: 25px 90px 25px 30px;
    border-radius: 0 100px 0 0;
    font-size: 2.1875rem;
    text-align: left;
    color: white;
  }

  .contact-us__header-border {
    display: block;
    width: 100%;
    margin-bottom: 2.5rem;
    border-bottom: 3px solid rgb(54, 180, 229);
  }

  .contact-us__contents {
    display: flex;
  }

  .contact-us__description {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    width: 50%;
    margin-bottom: unset;
    padding-right: 15%;
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: rgb(96, 96, 96);
  }

  .contact-us__form {
    display: inline-block;
    position: relative;
    width: 50%;
  }

  .contact-us__field,
  .contact-us__message {
    margin-bottom: 1rem;
    font-size: 1rem;
    padding: 1.5rem 2rem;
  }

  .contact-us__message {
    resize: none;
    height: 20.625rem;
  }

  .contact-us__footer {
    display: flex;
    margin: 2rem 0 3rem;
  }

  .contact-us__footer .g-recaptcha {
    display: inline-block;
    position: relative;
    height: 5rem;
    width: 19rem;
    margin: unset;
  }

  .contact-us__footer .g-recaptcha iframe {
    width: unset;
  }

  .contact-us__button {
    display: inline-block;
    position: relative;
    align-self: center;
    height: max-content;
    margin: unset;
    margin-left: auto;
    padding: 20px 40px;
    border: 2px solid #1A86BE;
    border-radius: 30px 0;
    font-size: 1.25rem;
    line-height: 1.1875rem;
  }

  .contact-us__button:hover {
    cursor: pointer;
    background-color: transparent;
    color: #1A86BE;
  }

  /** Contact Us - End **/
}
