<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/terms-and-conditions/head', { assetLink }); %>
</head>
<body>

    <img src="/public/img/terms-and-conditions/tnc_page_1.jpg" class="terms__img">
    <img src="/public/img/terms-and-conditions/tnc_page_2.jpg" class="terms__img">
    <img src="/public/img/terms-and-conditions/tnc_page_3.jpg" class="terms__img">
    <img src="/public/img/terms-and-conditions/tnc_page_4.jpg" class="terms__img">
    <img src="/public/img/terms-and-conditions/tnc_page_5.jpg" class="terms__img">
    <img src="/public/img/terms-and-conditions/tnc_page_6.jpg" class="terms__img">
    <img src="/public/img/terms-and-conditions/tnc_page_7.jpg" class="terms__img">
    <img src="/public/img/terms-and-conditions/tnc_page_8.jpg" class="terms__img">
    <img src="/public/img/terms-and-conditions/tnc_page_9.jpg" class="terms__img">
    <img src="/public/img/terms-and-conditions/tnc_page_10.jpg" class="terms__img">
    <img src="/public/img/terms-and-conditions/tnc_page_11.jpg" class="terms__img">
    <img src="/public/img/terms-and-conditions/tnc_page_12.jpg" class="terms__img">
    <img src="/public/img/terms-and-conditions/tnc_page_13.jpg" class="terms__img">
    <img src="/public/img/terms-and-conditions/tnc_page_14.jpg" class="terms__img">
    <img src="/public/img/terms-and-conditions/tnc_page_15.jpg" class="terms__img">
    <img src="/public/img/terms-and-conditions/tnc_page_16.jpg" class="terms__img">
    <img src="/public/img/terms-and-conditions/tnc_page_17.jpg" class="terms__img">
    <img src="/public/img/terms-and-conditions/tnc_page_18.jpg" class="terms__img">
    <img src="/public/img/terms-and-conditions/tnc_page_19.jpg" class="terms__img">

</body>
</html>