<div id="main-content">
    <div class="page-header-container">
        <div class="page-header">Job Requirement</div>
    </div>
    <div class="job-requirement-form">
        <input class="form__position-name" type="text" placeholder="Name of Position"/>
        <textarea class="form__job-summary" placeholder="Job Summary" maxlength="600"></textarea>
        <span class="job-summary-counter"><span class="job-summary-counter__current">0</span> / 600</span>
        <div class="job-description-container">
            <div class="job-description__header">
                <input class="form__job-description" type="text" placeholder="Job Description (Include five to ten bullet points)"/>
                <svg class="job-description__add-btn" xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512">
                    <path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/>
                </svg>
            </div>
            <div class="job-description__list">
                
            </div>
        </div>
        <div class="job-qualifications-container">
            <div class="job-qualifications__header">
                <input class="form__job-qualifications" type="text" placeholder="Qualifications/Requirements"/>
                <svg class="job-qualifications__add-btn" xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512">
                    <path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/>
                </svg>
            </div>
            <div class="job-qualifications__list">
                   
            </div>
        </div>
        <div class="working-hours-container">
            <select class="working-hours-dropdown" placeholder="Working Hours">
                <option value="0">Working Hours</option>
                <option value="1">1 ~ 2 Hours</option>
                <option value="2">3 ~ 4 Hours</option>
                <option value="3">5 ~ 6 Hours</option>
                <option value="4">7 ~ 8 Hours</option>
                <option value="5">8+ Hours</option>
            </select>
            <div class="working-hours__date-btn" style="display: none;">
                Start Date
            </div>
            <input class="working-hours__date-picker" type="date"/>
        </div>
        <button class="form__submit-btn">Find me new talent</button>
    </div>
</div>