.navbar {
  z-index: 1000;
  display: block;
  position: fixed;
  width: 100vw;
  padding: 20px 150px;
}

.navbar__icon {
  display: none;
}

.navbar__title {
  font-size: 21px;
  color: #FFFFFF;
}

.navbar__login-btn {
  display: none;
}
