.navbar {
    z-index: 1000;
    display: block;
    position: fixed;
    width: 100vw;
    padding: 20px 15px;
    background: #333333;
}

.navbar__icon {
    display: none;
}

.navbar__title {
    font-size: 21px;
    color: #FFFFFF;
}

.navbar__login-btn {
    display: none;
}