<div class="contact-us__backdrop"></div>
<div class="contact-us">
    <div class="contact-us__header">
        <h1 class="contact-us__title">Contact Us</h1>
        <button class="contact-us__close-btn"></button>
    </div>
    <div class="contact-us__contents">
        <input placeholder=" " class="contact-us__name" label="name"/>
        <label class="contact-us__name-label" for="name"><img src="/public/img/common/contact-us__name.svg"> Full Name</label>
        <input placeholder=" " class="contact-us__subject" label="subject"/>
        <label class="contact-us__subject-label" for="subject"><img src="/public/img/common/contact-us__subject.svg"> Subject</label>
        <textarea placeholder=" " class="contact-us__message" label="message"></textarea>
        <label class="contact-us__message-label" for="message"><img src="/public/img/common/contact-us__message.svg"> Message</label>
        <input placeholder=" " class="contact-us__e-mail" label="e-mail"/>
        <label class="contact-us__e-mail-label" for="e-mail"><img src="/public/img/common/contact-us__e-mail.svg"> E-Mail</label>
        <input placeholder=" " class="contact-us__number" label="number"/>
        <label class="contact-us__number-label" for="number"><img src="/public/img/common/contact-us__number.svg"> Contact Number</label>
        <br>
        <button class="contact-us__button">Send</button>    
    </div>
</div>