<div class="navbar">
    <img class="navbar__icon"/>
    <a class="navbar__link">About GPC</a>
    <a class="navbar__link">How HPC Works</a>
    <a class="navbar__link">Why Choose GPC</a>
    <a class="navbar__link">Browse Job Categories</a>
    <a class="navbar__link">Pricing and T&CS</a>
    <a class="navbar__link">Contact Us</a>
    <div class="navbar__separator"></div>
    <button class="navbar__sign-up-btn">Sign Up</button>
    <button class="navbar__login-btn">Log In</button>
</div>