<input id="domain" style="display: none;" value="<%= domain %>"/>
<input id="api-route" style="display: none;" value="<%= apiRoute %>"/>
<div class="navbar navbar--mobile">
    <img class="navbar__icon"/>
    <button class="navbar__burger-btn"></button>
    <div class="navbar-menu">
        <div class="search">
            <input type="text" class="search__bar" placeholder="Search"></input>
            <i class="search__icon"></i>
        </div>
        <a href="/#hero-section" class="navbar-menu__link">About GPC</a>
        <a href="/#how-section" class="navbar-menu__link">How GPC Works</a>
        <a href="/#why-section" class="navbar-menu__link">Why Choose GPC</a>
        <a href="/#job-categories-section" class="navbar-menu__link">Browse Job Categories</a>
        <a href="/#price-tc-section" class="navbar-menu__link">Pricing and T&CS</a>
        <a href="/#contact-us-section" class="navbar-menu__link">Contact Us</a>
        <a class="navbar-menu__sign-up-btn">Sign Up</a>
        <a class="navbar-menu__login-btn">Log In</a>
    </div>
</div>
<div class="navbar navbar--pc">
    <img class="navbar__icon"/>
    <a href="/#hero-section" class="navbar__link">About GPC</a>
    <a href="/#how-section" class="navbar__link">How GPC Works</a>
    <a href="/#why-section" class="navbar__link">Why Choose GPC</a>
    <a href="/#job-categories-section" class="navbar__link">Browse Job Categories</a>
    <a href="/#price-tc-section" class="navbar__link">Pricing and T&CS</a>
    <a href="/#contact-us-section" class="navbar__link">Contact Us</a>
    <div class="navbar__separator"></div>
    <button class="navbar__sign-up-btn">Sign Up</button>
    <button class="navbar__login-btn">Log In</button>
</div>