<div class="sign-in-sign-up__backdrop"></div>
<div class="sign-in-sign-up">
    
    <div class="sign-in">
        <h2 class="sign-in__header">Sign In</h2>
        <h3 class="sign-in__sub-header">Don't have an account? <span class="sign-up-btn">Sign up</span></h3>
        <div class="sign-in__e-mail-container">
            <input class="sign-in__e-mail" type="email" placeholder="E-mail"/>
            <input class="sign-in__password" type="password" placeholder="Password"/>
            <button>Sign In</button>
        </div>
        <div class="sign-in__separator">OR</div>
        <div class="sign-in__third-party">
            <button class="sign-in__google-btn">
                <svg xmlns="http://www.w3.org/2000/svg" class="sign-up__btn-icon" viewBox="0 0 488 512">
                    <path d="M488 261.8C488 403.3 391.1 504 248 504 110.8 504 0 393.2 0 256S110.8 8 248 8c66.8 0 123 24.5 166.3 64.9l-67.5 64.9C258.5 52.6 94.3 116.6 94.3 256c0 86.5 69.1 156.6 153.7 156.6 98.2 0 135-70.4 140.8-106.9H248v-85.3h236.1c2.3 12.7 3.9 24.9 3.9 41.4z"/>
                </svg> Google
            </button>
            <button class="sign-in__facebook-btn">
                <svg xmlns="http://www.w3.org/2000/svg" class="sign-up__btn-icon" viewBox="0 0 512 512">
                    <path d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z"/>
                </svg> Facebook
            </button>    
        </div>
        <span class="sign-in__disclaimer">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi semper pellentesque eros, ac efficitur mauris tincidunt eu. Suspendisse sed finibus nulla. Praesent finibus, nunc sed convallis interdum, sem massa tincidunt dui, quis mollis enim ipsum in tellus. Integer eu massa nunc. In eleifend augue mollis dui sollicitudin scelerisque. Curabitur porta dolor efficitur, blandit quam non, fringilla magna. Nam leo urna, laoreet nec risus sit amet, elementum aliquam neque. Vivamus tristique nibh id sodales vestibulum. In sit amet metus ut metus luctus faucibus. Suspendisse varius sodales mi consectetur lacinia. Aliquam erat volutpat. Suspendisse ut leo ullamcorper, aliquet odio eu, condimentum risus. Sed at varius justo.
        </span>
    </div>

    <div class="sign-up">
        <h2 class="sign-up__header">Create a new account</h2>
        <h3 class="sign-up__sub-header">Already have an account? <span class="sign-in-btn">Sign in</span></h3>
        <button class="sign-up__e-mail-btn">
            <svg xmlns="http://www.w3.org/2000/svg" class="sign-up__btn-icon" viewBox="0 0 512 512">
                <path d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z"/>
            </svg> Sign up with email
        </button>
        <div class="sign-up__e-mail-container">
            <input class="sign-up__e-mail" type="email" placeholder="E-mail"/>
            <input class="sign-up__password" type="password" placeholder="Password"/>
            <input class="sign-up__confirm-password" type="password" placeholder="Repeat Password"/>
            <button>Sign Up</button>
        </div>
        <div class="sign-up__separator">OR</div>
        <div class="sign-up__third-party">
            <button class="sign-up__google-btn">
                <svg xmlns="http://www.w3.org/2000/svg" class="sign-up__btn-icon" viewBox="0 0 488 512">
                    <path d="M488 261.8C488 403.3 391.1 504 248 504 110.8 504 0 393.2 0 256S110.8 8 248 8c66.8 0 123 24.5 166.3 64.9l-67.5 64.9C258.5 52.6 94.3 116.6 94.3 256c0 86.5 69.1 156.6 153.7 156.6 98.2 0 135-70.4 140.8-106.9H248v-85.3h236.1c2.3 12.7 3.9 24.9 3.9 41.4z"/>
                </svg> Google
            </button>
            <button class="sign-up__facebook-btn">
                <svg xmlns="http://www.w3.org/2000/svg" class="sign-up__btn-icon" viewBox="0 0 512 512">
                    <path d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z"/>
                </svg> Facebook
            </button>    
        </div>
        <span class="sign-up__disclaimer">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi semper pellentesque eros, ac efficitur mauris tincidunt eu. Suspendisse sed finibus nulla. Praesent finibus, nunc sed convallis interdum, sem massa tincidunt dui, quis mollis enim ipsum in tellus. Integer eu massa nunc. In eleifend augue mollis dui sollicitudin scelerisque. Curabitur porta dolor efficitur, blandit quam non, fringilla magna. Nam leo urna, laoreet nec risus sit amet, elementum aliquam neque. Vivamus tristique nibh id sodales vestibulum. In sit amet metus ut metus luctus faucibus. Suspendisse varius sodales mi consectetur lacinia. Aliquam erat volutpat. Suspendisse ut leo ullamcorper, aliquet odio eu, condimentum risus. Sed at varius justo.
        </span>
    </div>

    <div class="post-sign-up">
        <h2 class="post-sign-up__header">Your account has been created!<br/>What brings you to GPC?</h2>
        <h3 class="post-sign-up__sub-header">We want to tailor your experience so you'll feel right at home</h3>
        <div class="post-sign-up__options-container">
            <a href="/company-profile">
            <div class="post-sign-up__option">
                <img src="/public/img/common/post-sign-up-magnifying-glass.png" class="post-sign-up__option__image"/>
                <h4 class="post-sign-up__option__text">I AM LOOKING TO HIRE TALENT</h4>
            </div>
            </a>
            <a href="/candidate-profile">
            <div class="post-sign-up__option">
                <img src="/public/img/common/post-sign-up-looking-for-work.png" class="post-sign-up__option__image"/>
                <h4 class="post-sign-up__option__text">I AM LOOKING FOR WORK</h4>
            </div>
            </a>
        </div>
        <div class="post-sign-up__footer">
            <button class="post-sign-up__skip-btn">Skip</button>
        </div>
    </div>
</div>