body.no-scroll {
  overflow-y: hidden;
}

.navbar {
  z-index: 1000;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  position: fixed;
  width: 100vw;
  max-width: 100vw;
  padding: 0.75rem 2.25rem 0.75rem 1.3125rem;
  box-sizing: border-box;
  transition: all 0.5s ease;
}

.navbar.navbar--pc {
  display: none;
}

.navbar.navbar--mobile.active {
  background: #FFFFFF;
}

.navbar__burger-btn {
  width: 24px;
  height: 24px;
  border: none;
  background: url('/public/img/common/navbar__hamburger.svg');
  background-size: cover;
  background-repeat: no-repeat;
  filter: invert(95%) sepia(100%) saturate(20%) hue-rotate(326deg) brightness(106%) contrast(105%);
}

.navbar--white .navbar__burger-btn {
  filter: invert(16%) sepia(47%) saturate(3655%) hue-rotate(222deg) brightness(98%) contrast(91%);
}

.navbar.navbar--mobile.active .navbar__burger-btn {
  width: 19px;
  height: 21px;
  background: url('/public/img/common/navbar__close.svg');
  background-size: cover;
  background-repeat: no-repeat;
  filter: invert(16%) sepia(47%) saturate(3655%) hue-rotate(222deg) brightness(98%) contrast(91%);
}

.navbar-menu {
  position: fixed;
  top: 113px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
  min-height: 100svh;
  background: #FFFFFF;
  transform: translateX(100vw);
  transition: all 250ms ease;
}

.navbar.navbar--mobile.active .navbar-menu {
  transform: translateX(0);
}

.navbar-menu .search {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 0.75rem 2.25rem;
  background: #E6E6E6;
}

.navbar-menu .search__bar {
  width: 100%;
  box-sizing: border-box;
  padding: 0.8125rem 1.125rem;
  outline: none;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
}

.navbar-menu .search__icon {
  pointer-events: none;
  display: block;
  position: absolute;
  top: 1.275rem;
  right: 3.4rem;
  width: 28px;
  height: 28px;
  background: url('/public/img/common/navbar__search.svg');
  background-size: cover;
  background-repeat: no-repeat;
  filter: invert(80%) sepia(0%) saturate(308%) hue-rotate(203deg) brightness(89%) contrast(96%);
}

.navbar-menu .search__bar::-webkit-input-placeholder {
  color: #B3B3B3;
}

.navbar-menu .navbar-menu__link,
.navbar-menu .navbar-menu__sign-up-btn,
.navbar-menu .navbar-menu__login-btn {
  font-family: NotoSans, sans-serif;
  font-size: 1.5rem;
  line-height: 2.0625rem;
  text-transform: uppercase;
  text-decoration: none;
}

/** Temporarily Disabled **/
.navbar-menu .navbar-menu__sign-up-btn,
.navbar-menu .navbar-menu__login-btn {
  display: none;
}

.navbar-menu .navbar-menu__link {
  margin-top: 1.625rem;
  color: #273D90;
}

.navbar-menu .navbar-menu__link:nth-of-type(1) {
  margin-top: 2.1875rem;
}

.navbar-menu .navbar-menu__sign-up-btn {
  margin-top: 4.0625rem;
  color: #3CB4E5;
}

.navbar-menu .navbar-menu__login-btn {
  margin-top: 1.125rem;
  padding: 0.625rem 2.5rem;
  border-radius: 26px;
  font-family: NotoSansBold, sans-serif;
  color: white;
  background: #3CB4E5;
  box-shadow: 0 3px 5px 2px rgba(0, 0, 0, 0.1);
}

.navbar--white {
  background-color: rgba(255, 255, 255, 0.85);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 -10px 10px 15px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
}

.navbar__icon {
  display: inline-block;
  max-width: 207px;
  max-height: 89px;
  margin-right: auto;
  content: url('/public/img/common/gpc-logo-white.png');
  transition: all 0.5s ease;
}

.navbar--white .navbar__icon,
.navbar.navbar--mobile.active .navbar__icon {
  content: url('/public/img/common/gpc-logo.png');
}

.navbar__link {
  display: inline-block;
  margin-top: 5px;
  padding-bottom: 5px;
  font-family: NotoSans, sans-serif;
  font-size: 0.875rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  overflow: hidden;
  transition: all 0.5s ease;
}

.navbar--white .navbar__link {
  color: #1B25AB;
}

.navbar__link::after {
  content: '';
  display: block;
  position: relative;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: translate(0, 5px) scaleX(0);
  transition: all 0.3s ease;
}

.navbar--white .navbar__link::after {
  background-color: #1B25AB;
}

.navbar__link:hover {
  cursor: pointer;
}

.navbar.section--hero .navbar__link:nth-of-type(1)::after,
.navbar.section--how-gpc-works .navbar__link:nth-of-type(2)::after,
.navbar.section--why-gpc .navbar__link:nth-of-type(3)::after,
.navbar.section--job-categories .navbar__link:nth-of-type(4)::after,
.navbar.section--price-tc .navbar__link:nth-of-type(5)::after,
.navbar.section--contact-us .navbar__link:nth-of-type(6)::after,
.navbar__link:hover::after {
  transform: translate(0, 5px) scaleX(1);
}

.navbar__separator {
  display: inline-block;
  height: 30px;
  border-right: 0.2px solid rgba(255, 255, 255, 0.5);
  transition: all 0.5s ease;
}

.navbar--white .navbar__separator {
  border-right: 0.2px solid #1B25AB;
}

.navbar__sign-up-btn,
.navbar__login-btn {
  display: inline-block;
  font-size: 0.875rem;
  text-transform: uppercase;
}

/** Temporarily Disabled **/

.navbar__separator,
.navbar__sign-up-btn,
.navbar__login-btn {
  display: none;
}

.navbar__sign-up-btn {
  font-family: NotoSans, sans-serif;
  border: none;
  outline: inherit;
  color: #3CB5E5;
  background: transparent;
  transition: all 0.2s ease;
}

.navbar__sign-up-btn:hover {
  cursor: pointer;
  color: #FFFFFF;
}

.navbar--white .navbar__sign-up-btn:hover {
  cursor: pointer;
  color: #1B25AB;
}

.navbar__login-btn {
  font-family: NotoSansBold, sans-serif;
  padding: 6px 25px;
  border: 2px solid #3CB5E5;
  border-radius: 50px;
  outline: inherit;
  color: #FFFFFF;
  background-color: #3CB5E5;
  transition: all 0.2s ease;
}

.navbar__login-btn:hover {
  cursor: pointer;
  border: 2px solid #3CB5E5;
  color: #3CB5E5;
  background-color: transparent;
}

/** Tablets and above */
@media only screen and (min-width: 768px) {
}

/** PC - Small Screens */
@media only screen and (min-width: 1024px) {
  .navbar.navbar--pc {
    z-index: 1000;
    opacity: 1;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 20px;
    position: fixed;
    width: 100vw;
    max-width: 100vw;
    box-sizing: border-box;
    padding: 10px 90px;
    transition: all 0.5s ease;
  }

  .navbar__icon {
    max-width: 150px;
  }

  .navbar.navbar--mobile {
    display: none;
  }

  .navbar__link {
    font-size: 0.75rem;
  }
}

/** PC */
@media only screen and (min-width: 1599px) {
  .navbar.navbar--pc {
    gap: 35px;
    padding: 10px 190px;
  }

  .navbar__icon {
    max-width: 232px;
    max-height: 102px;
    margin-left: -10px;
  }
}
