<div id="main-content">
    <div class="page-header-container">
        <div class="page-header">Search Results</div>
    </div>
    <div class="job-list-header">
        <div class="search-fields">
            <input type="text" class="search-field" placeholder="Job Title, keyword or company"/>
            <input type="text" class="search-field" placeholder="Area, city or town"/>
            <input type="text" class="search-field" placeholder="All job specialization"/>
            <div class="search-btn">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/>
                </svg>
            </div>
        </div>
        <div class="search-filters">
            <span class="filter-label">Sort by: </span>
            <span class="all-companies-filter">All Companies</span>
            /
            <span class="all-jobs-filter active">All Jobs</span>
            <select class="job-type-select">
                <option>Any job type</option>
                <option>Web Services</option>
                <option>Accounting</option>
                <option>Management</option>
            </select>
            <select class="time-select">
                <option>Any time</option>
                <option>Day Shift</option>
                <option>Mid Shift</option>
                <option>Night Shift</option>
            </select>
            <span class="search-summary">
                <span class="total-jobs"></span> jobs - Page <span class="page-number">1</span> of <span class="total-pages"></span>
            </span>
        </div>
    </div>
    <div class="job-list-container active">
        
    </div>
    <div class="brand-list-container">
        <div class="brand-item">
            <h1 class="brand-name">BRANDS</h1>
        </div>
        <div class="brand-item">
            <h1 class="brand-name">BRANDS</h1>
        </div>
        <div class="brand-item">
            <h1 class="brand-name">BRANDS</h1>
        </div>
        <div class="brand-item">
            <h1 class="brand-name">BRANDS</h1>
        </div>
        <div class="brand-item">
            <h1 class="brand-name">BRANDS</h1>
        </div>
        <div class="brand-item">
            <h1 class="brand-name">BRANDS</h1>
        </div>
        <div class="brand-item">
            <h1 class="brand-name">BRANDS</h1>
        </div>
        <div class="brand-item">
            <h1 class="brand-name">BRANDS</h1>
        </div>
        <div class="brand-item">
            <h1 class="brand-name">BRANDS</h1>
        </div>
    </div>
    <div class="job-list-pagination">
        <svg class="pagination-prev disabled" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path d="M512 256A256 256 0 1 0 0 256a256 256 0 1 0 512 0zM271 135c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-87 87 87 87c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0L167 273c-9.4-9.4-9.4-24.6 0-33.9L271 135z"/>
        </svg>
        <span class="pagination-option">1</span>
        <span class="pagination-option">2</span>
        <span class="pagination-option">3</span>
        <span class="pagination-option">4</span>
        <svg class="pagination-next" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path d="M0 256a256 256 0 1 0 512 0A256 256 0 1 0 0 256zM241 377c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l87-87-87-87c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0L345 239c9.4 9.4 9.4 24.6 0 33.9L241 377z"/>
        </svg>
    </div>
</div>