<div class="hero section">
    <h1 class="hero__title"><%= jobDetails.title %></h1>
    <h3 class="hero__description"><%= jobDetails.header %></h3>
    <button class="hero__btn">Apply Now</button>
</div>