<div class="job-description section">
    <div class="job-description__container">
        <% for(var i=0; i < jobDetails.details.length; i++) { %>
            <p class="job-description__paragraph"><%= jobDetails.details[i] %></p>
        <% } %>
    </div>
</div>